APP_NAME=GraphQLService
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8003

LOG_CHANNEL=stack

# GraphQL Service tidak butuh database sendiri (hanya proxy ke service lain)
DB_CONNECTION=sqlite

CACHE_STORE=file
SESSION_DRIVER=file
QUEUE_CONNECTION=sync

USER_SERVICE_URL=http://user-service-nginx
PRODUCT_SERVICE_URL=http://product-service-nginx
ORDER_SERVICE_URL=http://order-service-nginx
