APP_NAME=ProductService
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8001

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=product-service-db
DB_PORT=3306
DB_DATABASE=product_service_db
DB_USERNAME=root
DB_PASSWORD=

QUEUE_CONNECTION=rabbitmq
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_QUEUE=product-stock-update
